@media  (min-width: 1024px){
    
    header{
        height: 100px;
        .logo{
            display: flex;
            align-items: start;
            position: relative;
            top: 25px;
            left: 50px;
        }
        .letra-1{
            position: relative;
            top: 3px;
            left: 40px;
        }
        .navbar{
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: end;
            gap: 15px;
            position: relative;
            bottom: 15px;
            right: 110px;
            }
    }
        footer {
            background-color: #292525;
            height: 115px;
            .elementosFoot {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 25px;
            }
            .elementoDeFooter {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
                gap: 10px;
            }
        }
        .cambioImagen1 {
            width: 512px;
            height: 288px;
        }
        .agusYcarla{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }
        .luYeli{
            @extend .agusYcarla;
        }
        .ximeYgaby{
            @extend .agusYcarla;
        }
        }